.dwqa-container a,
.single-dwqa-question a {
	box-shadow: none;
	text-decoration: none;
}

/* ENTRY HEADER
------------------------------------- */
.entry-header .entry-title {
  display: inline-block;
}

.entry-header .edit-link {
  display: inline-block;
  margin-left: 10px;
}

.entry-header .edit-link a {
  background-color: #f0f0f0;
  border-radius: 2px;
  display: inline-block;
  padding: 3px 10px;
}

.entry-header .edit-link a:hover,
.entry-header .edit-link a:focus,
.entry-header .edit-link a:active {
  background-color: #4275f4;
  box-shadow: none;
  color: #fff;
}


/* SEARCH FORM
------------------------------------- */
#dwqa-search {
  margin-bottom: 24px;
}

#dwqa-search .ui-autocomplete-input {
  border-radius: 10px;
  border: 2px solid #ddd;
}

#dwqa-search .ui-autocomplete-input:hover,
#dwqa-search .ui-autocomplete-input:focus,
#dwqa-search .ui-autocomplete-input:active {
  border-color: #1ba1e2;
}

.dwqa-search input {
  color: #000000;font-size: 14px;
  padding: 10px 16px 9px;
  border-color: #ddd;
}

/* FILTER BAR
------------------------------------- */
.dwqa-question-filter {
  margin-bottom: 23px;
  border-top: 1px solid #e7e7e7;
  padding-top: 23px;
  margin-bottom: 20px;
}

.dwqa-question-filter a {
  background: #f4f4f4;
  box-shadow: none;
  color: #555;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  padding: 0 8px;
  margin-right: 5px;
}

.dwqa-question-filter a:hover,
.dwqa-question-filter a:active {
  background: #e7e7e7;
  box-shadow: none;
}

div.dwqa-question-filter a.active {
  background: #1ba1e2;
  border: 0 !important;
  color: #fff;
}

.dwqa-question-filter a.active:hover,
.dwqa-question-filter a.active:focus,
.dwqa-question-filter a.active:active {
  background: #1ba1e2;
  color: #fff;
}

.dwqa-question-filter span {
  font-weight: 600;
}

.dwqa-question-filter .dwqa-sort-by {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  color: #555 !important;
  line-height: 24px;
  font-size: 14px !important;
  height: 24px;
  outline: none;
}


/* QUESTION LIST
----------------------------------------- */
.dwqa-questions-list {
  border-top: 0;
}

div.dwqa-questions-list .dwqa-question-item {
  background-color: #fff;
  border: 1px solid #e7e7e7;
	
  margin-bottom: 10px;
  padding: 20px 200px 20px 70px;
  position: relative;
}

/*.dwqa-question-item .dwqa-question-title {
  border: 1px solid #c00;
}*/

.dwqa-question-item .dwqa-question-title a {
  color: #272829;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.dwqa-question-item .dwqa-question-title a:hover,
.dwqa-question-item .dwqa-question-title a:focus,
.dwqa-question-item .dwqa-question-title a:active {
  color: #1ba1e2;
}

.dwqa-question-item .dwqa-question-meta {
  overflow: hidden;
  margin-top: 10px;
}

.dwqa-questions-list .dwqa-question-item .avatar {
  border: 2px solid #fff;
  box-shadow: none;
  height: 18px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  width: 18px;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats > span {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  color: #666;
  font-size: 10px;
  height: auto;
  padding: 5px;
  min-width: 60px;
  text-transform: uppercase;
  text-align: center;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats > span strong {
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
}

/* Status */
.dwqa-question-item .dwqa-question-meta .dwqa-status {
  border-radius: 0;
}

.dwqa-question-item .dwqa-question-meta a {
  color: #1ba1e2;
  margin-right: 3px;
}

/* Question types */
.dwqa-question-item .dwqa-status:after {
  color: #fff;
}

.dwqa-question-item .dwqa-status {
  box-shadow: none;
}

.dwqa-question-item .dwqa-status-answered {
  background: #1ba1e2;
  border: 0;
}

.dwqa-question-item .dwqa-status-open {
  background: #e67e22;
}

.dwqa-question-item .dwqa-status-resolved {
  background: #666;
}

.dwqa-question-item .dwqa-status-closed {
  background-color: #666;
}

/* Footer */
.dwqa-questions-footer .dwqa-pagination a {
  background-color: #f0f0f0;
  border: 0;
  color: #666;
}

.dwqa-questions-footer .dwqa-pagination a:hover,
.dwqa-questions-footer .dwqa-pagination a:focus,
.dwqa-questions-footer .dwqa-pagination a:active {
  background-color: #ddd;
  color: #333;
}

.dwqa-questions-footer .dwqa-pagination .dwqa-current {
  background-color: #1ba1e2;
  border: 0;
  color: #fff;
}

.dwqa-questions-footer .dwqa-ask-question a {
  background-color: #1ba1e2;
  border: 0;
		border-radius: 50px; 
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}


/* QUESTION & ANSWER DETAIL
------------------------------------- */
/* Question
----------- */
.entry-header h1 {
  font-weight: 600;
}

.dwqa-breadcrumbs {
  color: #999;
}

.dwqa-breadcrumbs a {
  color: #333;
  display: inline-block;
  border-bottom: 1px solid #eee;
  margin-right: 5px;
}

.dwqa-breadcrumbs a:hover,
.dwqa-breadcrumbs a:focus,
.dwqa-breadcrumbs a:active {
  border-bottom: 1px solid #1ba1e2;
  color: #1ba1e2;
}

.dwqa-container .dwqa-question-item {
  border: 2px solid #1ba1e2;
  padding: 20px;
  padding-left: 90px;
}

.single-dwqa-question .dwqa-question-item .avatar {
  box-shadow: none;
  padding: 0;
  left: 15px;
  top: 25px;
}

.dwqa-container .dwqa-single-question .dwqa-question-meta img {
  border-radius: 0;
}

/* Question vote */
.dwqa-question-vote {
  top: 90px;
  left: 26px;
}

.dwqa-question-vote .dwqa-vote-count {
  top: 2px;
}

.dwqa-question-vote .dwqa-vote-down {
  bottom: 6px;
}

/* Question footer */
.dwqa-question-footer .dwqa-question-tag {
}

/* Anwsers
----------- */
.dwqa-answers-title {
  font-weight: 600;
}

.dwqa-question-item.dwqa-best-answer {

}

.dwqa-answer-item .avatar {
  box-shadow: none;
  border-radius: 0;
}

/* Answer vote */
.dwqa-answer-vote .dwqa-vote-count {
  top: 2px;
}

.dwqa-answer-vote .dwqa-vote-down {
  bottom: 6px;
}

.dwqa-comments-list .dwqa-comment-meta .avatar {
  height: 16px;
  vertical-align: middle;
  width: 16px;
}


/* Answer login
--------------- */
.dwqa-answers-login {
  background-color: #f0f0f0;
  padding: 20px;
}

.dwqa-answers-login label {
  font-weight: 500;
}

.dwqa-answers-login input {
  border-radius: 0;
  border: 1px solid #ddd;
  transition: all 0.35s;
}

.dwqa-answers-login input:focus {
  border-color: #1ba1e2;
}

.dwqa-answers-login .login-submit #wp-submit {
  background-color: #1ba1e2;
  box-shadow: none;
  border: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform:uppercase;
}

/* Responsive
--------------- */

@media (min-width: 768px) {
  .dwqa-pick-best-answer {
    top: 140px;
  }
}
@media (max-width: 768px) {
  div.dwqa-questions-list .dwqa-question-item {
    padding-right: 60px;
    padding-bottom: 45px;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
  }
  .dwqa-question-filter a {
    margin-bottom: 5px;
  }
  .dwqa-questions-list .dwqa-question-item .dwqa-question-stats > span {
    padding: 0px 10px;
  }
  .dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
    bottom: 10px;
  }
  .dwqa-container .dwqa-question-item {
    padding-left: 10px;
  }
}

@media (max-width: 480px) {
  .dwqa-questions-list .dwqa-question-item .dwqa-status {
    border-radius: 0;
    height: 70px;
    left: auto;
    margin-top: 0;
    position: absolute;
    right: -50px;
    top: -35px;
    width: 70px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .dwqa-questions-list .dwqa-question-item .dwqa-status:after {
    left: 12px;
    top: 42px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  div.dwqa-questions-list .dwqa-question-item {
    padding-left: 15px;
    overflow: hidden;
  }

  .dwqa-question-item .dwqa-question-actions {
    left: 10px;
    top: 10px;
  }
  .single-dwqa-question .dwqa-question-item .dwqa-question-vote {
    top: 5px;
  }
}

/* RTL
--------------- */
@media (max-width: 480px) {
  .rtl .dwqa-pick-best-answer {
    left: auto;
    right: 0;
  }
  .rtl .dwqa-answer-vote .dwqa-vote-count,
  .rtl .dwqa-question-vote .dwqa-vote-count {
    top: 0px;
  }

  .rtl.single-dwqa-question .dwqa-question-vote,
  .rtl.single-dwqa-question .dwqa-answer-vote {
    right: 0;
    left: 0;
  }
}

@media (min-width: 480px) {
  .rtl .dwqa-question-vote .dwqa-vote,
  .rtl .dwqa-answer-vote .dwqa-vote {
    right: 6px;
  }
}

@media (max-width: 768px) {
  .rtl .dwqa-questions-list .dwqa-question-item {
    padding-right: 50px;
  }
  .rtl .dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
    position: relative;
    margin-top: 24px;
  }
}
#dwqa-search .ui-autocomplete-input { color: #000; 
 border-radius: 5px; } 
.submit-dwqa-question #question-title {
    color: #000;
}
.dwqa-questions-list  .dwqa-question-item  {  border: 1px solid #e7e7e7;
	  border-radius: 5px
}  

.dwqa-questions-list .dwqa-question-item {
	background-color: #fff;}
.dwqa-questions-list .dwqa-question-item span.dwqa-status.dwqa-status-resolved {
  background: #578824;
		  border-radius: 5px
}

.dwqa-questions-list .dwqa-question-item span.dwqa-status.dwqa-status-closed {
  background: #666;
	border-radius: 5px
}	.dwqa-questions-list .dwqa-question-item span.dwqa-status.dwqa-status-open {
  background: #e67e22; 
		border-radius: 5px
}
.dwqa-questions-list .dwqa-question-item span.dwqa-status.dwqa-status-answered {
  background: #1ba1e2;
	border-radius: 5px
}
.dwqa-questions-footer .dwqa-pagination a {
  background-color: #f0f0f0;
  border: 0;
		border-radius: 5px
}color: #666; 
}
.dwqa-questions-footer .dwqa-pagination .dwqa-current {
  background-color: #1ba1e2;
  border: 1px;
	border-radius: 5px}
 color: #fff;
}

.dwqa-questions-footer .dwqa-ask-question a {
  background-color: #1ba1e2;
  border: 1;
	border-radius: 50px }
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.dwqa-question-filter {
  margin-bottom: 23px;
  border-top: 1px solid #e7e7e7;
  padding-top: 23px;
  margin-bottom: 20px;
}

.dwqa-question-filter a {
  background: #ffffff;
	 border: 1px solid #e7e7e7;
  border-radius: 5px;;
	border-radius: 5px}
  box-shadow: none;
  color: #555;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  padding: 0 8px;
  margin-right: 5px;
}

.dwqa-question-filter a:hover,
.dwqa-question-filter a:active {
  background: #e7e7e7;
  box-shadow: none;
}

div.dwqa-question-filter a.active {
  background: #1ba1e2;
  border: 1px;
		 border-radius: 5px
		!important;
  color: #fff;
}

.dwqa-question-filter a.active:hover,
.dwqa-question-filter a.active:focus,
.dwqa-question-filter a.active:active {
  background: #1ba1e2;
	
  color: #fff;
	
}

.dwqa-question-filter span {
  font-weight: 600;
}

.dwqa-question-filter .dwqa-sort-by {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  color: #555 !important;
  line-height: 24px;
  font-size: 14px !important;
  height: 24px;
  outline: none;
}
.dwqa-questions-list .dwqa-question-item .dwqa-question-stats > span {
  background-color: #fff;
   border: 1px solid #f0f0f0;
  border-radius: 5px;
  color: #666;
  font-size: 10px;
  height: auto;
  padding: 5px;
  min-width: 60px;
  text-transform: uppercase;
  text-align: center;
}
.dwqa-questions-list {
  border-top: 0;
}
.dwqa-questions-list .dwqa-question-item .dwqa-question-stats, 
.dwqa-answer-vote .dwqa-vote, .dwqa-question-vote,
.dwqa-question-filter, .dwqa-answer-item .avatar {
     display: show;
}
